@import '~bootstrap/scss/bootstrap';

// ------------------ COLORS ------------------
$text-primary: #313442;
$button-primary: #80AB6B;
$button-secondary: #AFCCA1;
$button-active: #85957d;

// ------------------ FONTS ------------------
$fontfam-primary: 'Trirong', serif;



// ------------------ GENERAL ------------------
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $text-primary;
  font-family: $fontfam-primary;
  font-size: 1em;
  font-weight: 500;
  height: 100vh;
  background: url(./assets/background-img.png) no-repeat right bottom/cover fixed;
}


h1 {
  color: $text-primary;
  font-family: 'Fondamento', cursive;
  text-shadow: 0.25rem 0.25rem 0.25rem #00000060;
  // -webkit-text-stroke: 0.5px $text-primary;
  font-size: 2.5rem;
  @media (max-width: 767px) {
    font-size: 2rem;
  }
  @media (max-width: 575px) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 1.5em;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
  @media (max-width: 575px) {
    font-size: 1rem;
  }
}

div {
  display: block;
}

// ------------------ FORM ------------------

form {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
}

input {
  padding: 5px;
  font-family: $fontfam-primary;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

select {
  padding: 5px;
  font-family: 'Twemoji', $fontfam-primary;
  font-size: 16px;
  border-radius: 8px;
  border: none;
}


// ------------------ HOMEPAGE ------------------

.div-homepage{
  width: 70vw;
  margin-top: 25vh;
  margin-left: 20vw;
  @media (max-width: 767px) {
    margin-top: 15vh;
  }
  @media (max-width: 575px) {
    margin-top: 10vh;
  }
}

.btn-homepage{
  margin-right: 10px;
}



// ------------------ LOGIN ------------------


.div-login{
  max-width: 400px;
  margin-top: 25vh;
  margin-left: 20vw;
  @media (max-width: 767px) {
    margin-top: 15vh;
    margin-left: 15vw;
  }
  @media (max-width: 575px) {
    width: 250px;
  }
}

.form-login {
  height: 150px;
  display: block;
}

.label-login{
  font-weight: 600;
  display: inline-block;
  width: 150px;
  font-size: 1.25rem;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    font-size: 1rem;

  }
  @media (max-width: 575px) {
    margin-bottom: 0;
  }
}

#login-username{
  width: 240px;
  @media (max-width: 575px) {
    margin-bottom: 10px;
  }
}

#login-room{
  width: 250px;
  @media (max-width: 575px) {
    margin-bottom: 15px;
  }
}

// option:hover{
//   background-color: $button-secondary;
// }

.button-login{
  width: 100%;
  margin-top: 10px;
  @media (max-width: 575px) {
    width: 250px;
  }
}

// ------------------ CHAT ------------------

.chat-div{
  margin: 0 auto;
  height: 100%;
  width: 767px;
  @media (max-width: 767px) {
    width: 500px;
  }
  @media (max-width: 575px) {
    width: 300px;
  }
}

.list{
  margin-top: 0;
  margin-bottom: 0;
  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
}



// ------------------ message form ------------------

.div-input-msg{
  display: block;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 767px;
  @media (max-width: 767px) {
    width: 500px;
  }
  @media (max-width: 575px) {
    width: 300px;
  }
}


.input-msg{
  position: absolute;
  bottom: 0;
  width: 81.5%;
  @media (max-width: 767px) {
    font-size: 0.8rem;
    width: 74%;
  }
  @media (max-width: 575px) {
    width: 57%;
  }
}

.btn-msg{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 15px;
  @media (max-width: 575px) {
    margin-left: 5px;
  }
}

.btn-emoji{
  right: 70px;
}

aside.EmojiPickerReact.epr-main {
  border-color: var(--epr-picker-border-color);
  border-radius: var(--epr-picker-border-radius);
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  margin-left: calc(767px - 352px);
  @media (max-width: 767px) {
    margin-left: calc(500px - 352px);
  }
  @media (max-width: 575px) {
    margin-left: 5px;
  }
}

// ------------------ BUTTONS ------------------

button {
  font-family: $fontfam-primary;
  background-color: $button-primary;
  box-shadow: 4px 4px 4px #00000060;
  color: $text-primary;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 5px 10px;
  @media (max-width: 767px) {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }
  @media (max-width: 575px) {
    font-size: 0.8rem;
  }

}

.button:hover {
  background-color: $button-active;
  color: white;
  transition-duration: 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-secondary {
  background-color: $button-secondary;
}

.button:focus {
  background-color: $button-active;
  transform: translate(3px, 3px);
  color: white;
  box-shadow: 1px #00000060;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  transition-duration: 0.7s;
}


// ------------------ MESSAGES ------------------

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  max-height: 650px;
  margin: 0 auto;
  list-style: none;
  display: block;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 20px; 
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentUser {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: #000000;
  padding-bottom: 4px;
  font-size: 1rem;
  @media (max-width: 767px) {
    font-size: 0.8rem;
  }
  @media (max-width: 575px) {
    font-size: 0.8rem;
  }

}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background: #fffcf7bf;
  color: $text-primary;
  display: inline-block;
  font-size: 1rem;
  @media (max-width: 767px) {
    font-size: 0.8rem;
  }
  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
}